.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
/renv/

DS_Store

_extensions
/.quarto/
/.luarc.json
/*_files
/*_cache
/_freeze
published-202312-favrot-hierarchical.html
published-202312-favrot-hierarchical.pdf

_environment
/.micromamba/

_site/
logo_notext_white.png
